@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  height: 100%;
  width: 100%;
}

h1 {
  margin: 4px;
}

h2 {
  margin: 4px;
}

li {
  margin: 4px;
}


.close-button {
  margin-left: 16px;
  background-color: rgba(256, 256, 256, 0.5);
  padding: 4px 12px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  visibility: hidden;
}

.window {
  background-color: #d8eff7;
  border: solid;
  width: 400px;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.window-header {
  margin-right: 0px;
  margin-top: 0px;
  background-color: hsla(319, 0%, 0%, 0.5);
  padding: 4px 12px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px
}

.selected {
  border-width: 5;
  border-color: blue;
  border: solid;
}